<h1>suma wydatkow</h1>

<span *ngIf = "sw == 1">

<tr>
	<td><b>Suma: {{getSuma('newInput') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma za myjnie: {{getSumazKategori('Myjnia') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma za tankowanie: {{getSumazKategori('Tankowanie') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma za serwis: {{getSumazKategori('Serwis') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma inne: {{getSumazKategori('Inne') | currency: symbol:''}} zl </b></td>
</tr>

</span>

<span *ngIf = "sw == 0">

<tr>
	<td><b>Suma: {{getSumazKategoriMiesiac2() | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma za myjnie: {{getSumazKategoriMiesiac('Myjnia') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma za tankowanie: {{getSumazKategoriMiesiac('Tankowanie') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma za serwis: {{getSumazKategoriMiesiac('Serwis') | currency: symbol:''}} zl </b></td>
</tr>
<tr>
	<td><b>suma inne: {{getSumazKategoriMiesiac('Inne') | currency: symbol:''}} zl </b></td>
</tr>

</span>

<td>
	<button class="btn btn" style="background:blue; color:white;" (click)="showFull(0)">Pełne statystyki</button> &nbsp;
	<button class="btn btn" style="background:blue; color:white" (click)="showCurrentMonth(1)">Z danego miesiąca</button>
</td>

<div style="display:none" id="CurrentMonth">
	<table style="width:100%;">
		<tr>
			<th>Kategoria</th>
			<th>Data</th>
			<th>Kwota</th>
			<th>Opis</th>
			<th>l/km</th>
			<th></th>
		</tr>
		<tr *ngFor="let wydatek of wydatki2">
			<td>{{wydatek.kategoria}} </td>
			<td>{{wydatek.data | date:'dd.MM.yyyy'}} </td>
			<td class="text-sm-right">{{wydatek.kwota | number:'1.2-2'}} zł </td>
			<td>{{wydatek.opis}} </td>
			<td>
				<span *ngIf="wydatek.kategoria =='Tankowanie'">
    <span *ngIf="wydatek.ileLitrow && wydatek.ileKm">
      {{wydatek.ileLitrow | number: '1.1'}} {{'l/'}} {{
        wydatek.ileKm }} {{'km'}}
        </span>
				<span *ngIf="!wydatek.ileLitrow && wydatek.ileKm">
      {{wydatek.ileKm}} {{'km'}}
        </span>
				<span *ngIf="wydatek.ileLitrow && !wydatek.ileKm">
      {{wydatek.ileLitrow | number: '1.1'}} {{'l'}}
    </span>
				</span>
			</td>
			<td>
				<button class="btn btn-danger" (click)="usunWydatek(wydatek.id)">Usuń</button>
			</td>
		</tr>
	</table>
</div>

<div id="Full">
	<table style="width:100%;">
		<tr>
			<th>Kategoria</th>
			<th>Data</th>
			<th>Kwota</th>
			<th>Opis</th>
			<th>l/km</th>
			<th></th>
		</tr>
		<tr *ngFor="let wydatek of wydatki">
			<td>{{wydatek.kategoria}} </td>
			<td>{{wydatek.data | date:'dd.MM.yyyy'}} </td>
			<td class="text-sm-right">{{wydatek.kwota | number:'1.2-2'}} zł </td>
			<td>{{wydatek.opis}} </td>
			<td>
				<span *ngIf="wydatek.kategoria =='Tankowanie'">
    <span *ngIf="wydatek.ileLitrow && wydatek.ileKm">
      {{wydatek.ileLitrow | number: '1.1'}} {{'l/'}} {{
        wydatek.ileKm }} {{'km'}}
        </span>
				<span *ngIf="!wydatek.ileLitrow && wydatek.ileKm">
      {{wydatek.ileKm}} {{'km'}}
        </span>
				<span *ngIf="wydatek.ileLitrow && !wydatek.ileKm">
      {{wydatek.ileLitrow | number: '1.1'}} {{'l'}}
    </span>
				</span>
			</td>
			<td>
				<button class="btn btn-danger" (click)="usunWydatek(wydatek.id)">Usuń</button>
			</td>
		</tr>
	</table>
</div>
<br/><br/>