<h1>suma wydatkow</h1>

  <tr>
    <td><b>Suma: {{getSuma('newInput') | currency: symbol:''}} zl </b></td>
    </tr>
    <tr>
      <td><b>suma za myjnie: {{getSumazKategori('Myjnia') | currency: symbol:''}} zl </b></td>
      </tr>
      <tr>
       <td><b>suma za tankowanie: {{getSumazKategori('Tankowanie') | currency: symbol:''}} zl </b></td>
       </tr>
       <tr>
       <td><b>suma za serwis: {{getSumazKategori('Serwis') | currency: symbol:''}} zl </b></td>
       </tr>
       <tr>
       <td><b>suma inne: {{getSumazKategori('Inne') | currency: symbol:''}} zl </b></td>
       </tr>
       
         <td>
         <button class="btn btn" style="background:blue; color:white;" (click)="showAll()">Pełne statystyki</button> &nbsp;
         <button class="btn btn" style="background:blue; color:white" (click)="showBiezacyMiesiac()">Z danego miesiąca</button>
         </td>